section {
  /* padding: 100px 0; */
}
.uk-card-hover {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.uk-textarea {
  min-width: 100%;
  min-height: 62px;
}

.alert {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  white-space: nowrap;
  animation: show 0.3s both;
  -webkit-animation: show 0.3s both;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.alert.hide {
  animation: hide 0.3s both;
  -webkit-animation: hide 0.3s both;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.contacts-card a {
  opacity: 0.7;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.contacts-card a:hover {
  opacity: 1;
  text-decoration: none;
}

.uk-button {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
